<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts</h1>
    <p>Our phone number: +79991000000, email: example@flask.com</p>
    <div>Addresses of our offices:
        <ul>
            <li>New Delhi, Rama Krishna Street 34</li>
            <li>Moscow, Kutuzovski Prospect 144</li>
            <li>Istanbul, Istiklal Street 15</li>
        </ul>
    </div>
</body>
</html>