<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to Flask</h1>
    <div><img src="./static/images/flask_python.webp" alt="Flask"></div>
    <p>This is the home page of our Flask application.</p>
    <div><a href="/about">About us</a></div>
    <div><a href="/contact">Our contacts</a></div>
</body>
</html>